

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>  Bánh Long Sơn </title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="~/Content/_Layout/assets/img/favicon.jpg">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/Content/_Layout/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/Content/_Layout/assets/css/responsive.css">

</head>

<body>



    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="/Home/Index">
                                <h3>Bánh Long Sơn</h3>
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item">
                                    <a href="/Home/Index">Trang Chủ</a>
                                </li>
                                <li><a href="/Home/About">Thông Tin Nổi Bật</a></li>

                                <li><a href="/Home/Contact">Liên Hệ</a></li>

                                <!--Partial Danh Muc San Pham-->
                                @{
                                    Html.RenderAction("RenderMenu", "Home");
                                }



                                @if (Session["user"] != null)
                                {
                                    var user = (kinhdoanhbanh.Models.KhachHang)Session["user"];
                                    <li>

                                        <a href="#"><i class='far fa-user-circle' style='font-size:20px'></i> Xin Chào : @user.TenKH </a>
                                        <ul class="sub-menu">
                                            <li><a href="@Url.Action("DonHangDaDat", "Account")">Đơn Hàng Đã Đặt</a></li>
                                            <li><a href="@Url.Action("CapNhatThongTinTaiKhoan", "Account")">Thay đổi thông tin</a></li>
                                            <hr />
                                            <li><a href="@Url.Action("Logout", "Account")">Đăng Xuất</a></li>


                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Login", "Account")"> Đăng Nhập </a>

                                        <ul class="sub-menu">
                                            <li><a href="@Url.Action("Register", "Account")">Đăng Ký</a></li>
                                            <li><a href="@Url.Action("ForgotPass", "Account")">Quên Mật Khẩu</a></li>


                                        </ul>
                                    </li>
                                }



                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" href="@Url.Action("Index", "GioHang")"><i class="fas fa-shopping-cart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    <form method="post" action="/Home/Index">
        <div class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="close-btn"><i class="fas fa-window-close"></i></span>
                        <div class="search-bar">
                            <div class="search-bar-tablecell">
                                <h3>Search For:</h3>
                                <input id="myInput" list="lstAutoComplete" type="text" name="SeachString" placeholder="Nhập Từ Khóa Tìm Kiếm">
                                <!--Dung datalist de lam auto complete goi y-->
                                <datalist id="lstAutoComplete">
                                    @foreach (var item in Session["ListSanPham"] as List<string>)
                                    {
                                        <option style="height:300px" value="@item"></option>
                                    }
                                </datalist>

                                <button type="submit">Search <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- end search area -->
    <!-- home page slider -->
    <!--<div class="homepage-slider">-->
    <!-- single home slider -->
    <!--<div class="single-homepage-slider homepage-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Hải Sản HTC</p>
                            <h1>Cung Cấp Các Loại Hải Sản Tươi Sống</h1>
                            <div class="hero-btns">
                                <a href="#classRenderbody" class="boxed-btn">Mua Ngay</a>
                                <a href="/Home/Contact" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- single home slider -->
    <!--<div class="single-homepage-slider homepage-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Cam Kết Chất Lượng</p>
                            <p style="color:aliceblue; font-size:large">
                                1 đổi 1 tận nhà khách hàng trong
                                vòng 2h nếu sản phẩm không đạt
                                tiêu chuẩn tươi sống, đầy thịt.
                            </p>
                            <div class="hero-btns">
                                <a href="#classRenderbody" class="boxed-btn">Xem Shop</a>
                                <a href="/Home/Contact" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- single home slider -->
    <!--<div class="single-homepage-slider homepage-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-right">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Giao Hàng Nhanh Chón</p>
                            <h1>Get December Discount</h1>
                            <div class="hero-btns">
                                <a href="shop.html" class="boxed-btn">Visit Shop</a>
                                <a href="contact.html" class="bordered-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--</div>-->
    <!-- end home page slider -->

    <div class="container body-content" id="classRenderbody">
        @RenderBody()
    </div>



    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Bánh Long Sơn </p>
                        <p>Các Loại Bánh Ngọt và Mặn</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Thông Tin Liên Hệ</h2>
                        <ul>
                            <li>Địa Chỉ : Khu Phố 4 - Xã Long Sơn - Thành Phố Vũng Tàu. </li>
                            <li>Email : BanhLongSon@gmail.com .</li>
                            <li>+84 123456789 .</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="#classRenderbody">Products</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="Register">
                            <button type="submit" ><a href="@Url.Action("Register", "Account")">Đăng Ký</a></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; @DateTime.Now.ToString("MM/dd/yyyy") - Bánh Long Sơn .  All Rights Reserved.<br>
                        Distributed By - <a href="#">Trung - My - Trọng .</a>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- end copyright -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <!-- jquery -->
    <script src="/Content/_Layout/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/Content/_Layout/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/Content/_Layout/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/Content/_Layout/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/Content/_Layout/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/Content/_Layout/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/Content/_Layout/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/Content/_Layout/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/Content/_Layout/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/Content/_Layout/assets/js/main.js"></script>



</body>


@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@



</html>
