@model IEnumerable<kinhdoanhbanh.Models.NhanVien>

    @{
        ViewBag.Title = "NhanVienDaXoa";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

    <h2>Nhân Viên Đã Xóa</h2>


    <table class="table">
        <tr>
            <th>
                Họ Tên
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Địa Chỉ
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    <div class="btn btn-warning">
                        <a href="@Url.Action("HoanTac", new {MaNV=item.MaNV})" onclick="return confirm('Bạn có chắc muốn Hoàn Tác?')"><i class="bi bi-arrow-clockwise"></i>Hoàn Tác</a>
                    </div>
                </td>
            </tr>
        }

    </table>
