

<!DOCTYPE html>
<html lang="en">

@model kinhdoanhbanh.Models.KhachHang

@*@using BotDetect.Web.Mvc;*@



@{
    Layout = null;
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- CSS thu vien capcha-->
    @*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />*@



</head>


<body class="bg-gradient-primary">
    <div class="container">

        <div class=" o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block">
                        @*<img src="~/Content/_Layout/assets/img/pexels-toa-heftiba-şinca-1194431.png" style="width:100%" />*@
                        <img src="~/Content/_Layout/assets/img/Register.gif" width="100%" />
                        <img src="~/Content/_Layout/assets/img/BanhLongSon.gif" width="100%"/>
                        @*<video width="534" height="712" autoplay muted>
            <source src="~/Content/_Layout/assets/img/BanhLongSon.mp4" />
        </video>*@

                    </div>


                    <div class="col-lg-6">


                        @if (ViewBag.error != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.error
                            </div>
                            ViewBag.error = null;
                        }


                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="post">
                                @Html.AntiForgeryToken()

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="FirstName" id="FirstName"
                                               placeholder="First Name" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="LastName" id="LastName"
                                               placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="InputEmail" id="InputEmail"
                                           placeholder="Email Address" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="InputPassword" name="InputPassword" placeholder="Password" minlength="8" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="RepeatPassword" name="RepeatPassword" minlength="8" placeholder="Repeat Password" required>
                                    </div>
                                </div>




                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="/Account/LoginFacebook" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("ForgotPass")">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Login")">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Content/js/sb-admin-2.min.js"></script>

</body>
</html>
